In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.metrics import confusion_matrix, classification_report
sns.set(color_codes=True)
df = pd.read_excel("../techlabs-elective/realtor.spring.2020.xlsx")
df.head(10)

,sold.price,zip.code,overview,type,year.built,num.beds,num.baths,living.area,lot.area,masterbedroom.length,masterbedroom.width,kitchen.length,kitchen.width,rand
0,3000000.0,2108,\n Property Overview - Beacon Hill gr...,Condo/Townhome/Row Home/Co-Op,1899,2,1.5,2352,NaN,15.0,15.0,12.0,10.0,0.001732
1,1150000.0,2476,\n Property Overview - Quality builde...,Single Family Home,1959,4,3.5,2713,6890.00,17.0,11.0,25.0,12.0,0.003026
2,1095000.0,1890,\n Property Overview - This surprisin...,Single Family Home,1960,4,3.5,2821,0.36,20.0,19.0,25.0,16.0,0.004115
3,689000.0,2118,\n Property Overview - Sound End Styl...,Condo/Townhome/Row Home/Co-Op,1855,1,1.0,595,NaN,13.0,12.0,8.0,8.0,0.004413
4,842700.0,2492,\n Property Overview - Welcome to thi...,Single Family Home,1974,3,2.0,1476,0.23,11.0,15.0,11.0,12.0,0.013653
5,300000.0,2467,\n Property Overview - This is a grea...,Condo/Townhome/Row Home/Co-Op,1955,2,1.0,780,NaN,12.0,12.0,13.0,9.0,0.014122
6,840000.0,2130,\n Property Overview - This beautiful...,Condo/Townhome/Row Home/Co-Op,1910,3,2.0,1133,1133.00,14.0,11.0,12.0,12.0,0.015632
7,751000.0,2472,\n Property Overview - Immaculate 3 b...,Single Family Home,1950,3,2.5,2003,5000.00,15.0,15.0,11.0,13.0,0.022707
8,730000.0,1945,\n Property Overview - Multiple Offer...,Single Family Home,1935,5,2.5,2967,7565.00,22.0,13.0,23.0,16.0,0.023967
9,580000.0,2128,\n Property Overview - Multiple offer...,Condo/Townhome/Row Home/Co-Op,2012,3,2.0,1417,NaN,15.0,14.0,12.0,17.0,0.025222

In [2]:
df['sold.price'] = df['sold.price'].fillna((df['sold.price'].mean()))

In [3]:
df.drop(df.columns[[2,3,8,9,10,11,12,13]], axis=1, inplace=True)
df.head()

   sold.price  zip.code  year.built  num.beds  num.baths  living.area
0   3000000.0      2108        1899         2        1.5         2352
1   1150000.0      2476        1959         4        3.5         2713
2   1095000.0      1890        1960         4        3.5         2821
3    689000.0      2118        1855         1        1.0          595
4    842700.0      2492        1974         3        2.0         1476

In [4]:
df['sold.price'] = df['sold.price'].astype(int)

In [5]:
df['num.baths'] = df['num.baths'].astype(int)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sold.price   566 non-null    int32
 1   zip.code     566 non-null    int64
 2   year.built   566 non-null    int64
 3   num.beds     566 non-null    int64
 4   num.baths    566 non-null    int32
 5   living.area  566 non-null    int64
dtypes: int32(2), int64(4)
memory usage: 22.2 KB

In [4]:
y=df['sold.price'].values
X=df.drop('sold.price', axis=1).values

In [5]:
#create training and test sets 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state=42)

In [11]:
#create regressor
lasso = Lasso(alpha=0.4, normalize=True)

In [12]:
# Fit the classifier to the training data
lasso.fit(X_train, y_train)

Lasso(alpha=0.4, normalize=True)

In [13]:
# Compute and print the coefficients
lasso_coef = lasso.fit(X, y).coef_
print(lasso_coef)

[ 4.59777260e+01 -1.97600329e+03 -1.63600066e+05  2.04941272e+05
  3.77056705e+02]

In [14]:
# Plot the coefficients
plt.plot(range(len(df_columns)), lasso_coef)
plt.xticks(range(len(df_columns)), df_columns.values, rotation=60)
plt.margins(0.02)
plt.show()

NameError: name 'df_columns' is not defined