In [1]:
print("hello world")

hello world

In [5]:
import pandas as pd
df = pd.read_excel(r'C:\Users\Lukas\Documents\realtor.spring.2020.xlsx')
print(df)

     sold.price  zip.code                                           overview  \
0     3000000.0      2108  \n          Property Overview - Beacon Hill gr...
1     1150000.0      2476  \n          Property Overview - Quality builde...
2     1095000.0      1890  \n          Property Overview - This surprisin...
3      689000.0      2118  \n          Property Overview - Sound End Styl...
4      842700.0      2492  \n          Property Overview - Welcome to thi...
..          ...       ...                                                ...
561    568500.0      2189  \n          Property Overview - Dreams can com...
562    660000.0      2130  \n          Property Overview - Lots to love i...
563    676000.0      2131  \n          Property Overview - Gorgeous, ligh...
564    845000.0      2130  \n          Property Overview - Beautiful reno...
565    485000.0      2116  \n          Property Overview - Filled with "B...

     type  year.built  num.beds  num.baths  living.area  lot.area  \
0       1        1899         2        1.5         2352       NaN
1       2        1959         4        3.5         2713   6890.00
2       2        1960         4        3.5         2821      0.36
3       1        1855         1        1.0          595       NaN
4       2        1974         3        2.0         1476      0.23
..    ...         ...       ...        ...          ...       ...
561     2        1966         5        3.5         3079      0.36
562     1        1920         2        1.0         1053    937.00
563     2        1860         3        2.5         1322   5617.00
564     2        1935         3        2.5         1843   6000.00
565     1        1890         1        1.0          411       NaN

     masterbedroom.length  masterbedroom.width  kitchen.length  kitchen.width  \
0                    15.0                 15.0            12.0           10.0
1                    17.0                 11.0            25.0           12.0
2                    20.0                 19.0            25.0           16.0
3                    13.0                 12.0             8.0            8.0
4                    11.0                 15.0            11.0           12.0
..                    ...                  ...             ...            ...
561                  22.0                 15.0            23.0           12.0
562                  16.0                 15.0            14.0           11.0
563                  12.0                 13.0            13.0           10.0
564                  18.0                 12.0            12.0           11.0
565                  11.0                  8.0             9.0           10.0

         rand
0    0.001732
1    0.003026
2    0.004115
3    0.004413
4    0.013653
..        ...
561  0.996359
562  0.996757
563  0.997386
564  0.997419
565  0.997843

[566 rows x 14 columns]

In [6]:
df.describe()

,sold.price,zip.code,type,year.built,num.beds,num.baths,living.area,lot.area,masterbedroom.length,masterbedroom.width,kitchen.length,kitchen.width,rand
count,5.500000e+02,566.000000,566.000000,566.000000,566.000000,566.000000,566.000000,268.000000,566.000000,566.000000,566.000000,566.000000,566.000000
mean,7.858710e+05,2138.909894,1.326855,1937.653710,2.660777,1.835689,1551.920495,2680.015410,14.743516,13.141343,13.263198,11.426378,0.516508
std,5.637090e+05,116.886257,0.469479,48.165903,1.048277,0.847400,891.972413,2633.832448,3.543703,2.820309,4.083784,3.276509,0.289633
min,1.600000e+05,1730.000000,1.000000,1725.000000,1.000000,1.000000,410.000000,0.230000,8.000000,6.000000,5.000000,5.000000,0.001732
25%,4.900000e+05,2124.000000,1.000000,1900.000000,2.000000,1.000000,1007.250000,707.000000,12.000000,11.000000,10.000000,9.000000,0.252851
50%,6.430000e+05,2130.000000,1.000000,1921.000000,3.000000,2.000000,1297.000000,1299.000000,14.000000,12.415000,13.000000,11.000000,0.529830
75%,8.400000e+05,2132.000000,2.000000,1976.750000,3.000000,2.000000,1849.750000,5000.000000,16.000000,14.000000,15.000000,13.000000,0.770276
max,6.700000e+06,2494.000000,2.000000,2019.000000,7.000000,6.000000,6537.000000,9583.000000,36.000000,29.000000,34.000000,26.000000,0.997843

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   sold.price            550 non-null    float64
 1   zip.code              566 non-null    int64
 2   overview              566 non-null    object
 3   type                  566 non-null    int64
 4   year.built            566 non-null    int64
 5   num.beds              566 non-null    int64
 6   num.baths             566 non-null    float64
 7   living.area           566 non-null    int64
 8   lot.area              268 non-null    float64
 9   masterbedroom.length  566 non-null    float64
 10  masterbedroom.width   566 non-null    float64
 11  kitchen.length        566 non-null    float64
 12  kitchen.width         566 non-null    float64
 13  rand                  566 non-null    float64
dtypes: float64(8), int64(5), object(1)
memory usage: 62.0+ KB

In [8]:
df.corr()

,sold.price,zip.code,type,year.built,num.beds,num.baths,living.area,lot.area,masterbedroom.length,masterbedroom.width,kitchen.length,kitchen.width,rand
sold.price,1.000000,0.105761,0.196708,-0.038248,0.365549,0.586637,0.608972,-0.136665,0.272642,0.364221,0.142907,0.123579,0.040459
zip.code,0.105761,1.000000,0.030146,-0.001838,0.093165,0.135127,0.133452,0.001942,0.088436,0.082734,0.037911,-0.001571,-0.061418
type,0.196708,0.030146,1.000000,-0.026216,0.646463,0.364349,0.562516,0.370306,0.180087,0.206324,0.248308,0.205325,0.027110
year.built,-0.038248,-0.001838,-0.026216,1.000000,0.016493,0.213447,0.118654,-0.033867,0.097843,0.144678,-0.012121,0.073516,0.003257
num.beds,0.365549,0.093165,0.646463,0.016493,1.000000,0.630515,0.779764,0.234472,0.236122,0.287139,0.307283,0.311860,-0.023947
num.baths,0.586637,0.135127,0.364349,0.213447,0.630515,1.000000,0.806117,-0.050603,0.346406,0.406436,0.311682,0.313565,0.031538
living.area,0.608972,0.133452,0.562516,0.118654,0.779764,0.806117,1.000000,0.006187,0.407422,0.473938,0.376574,0.376289,0.009879
lot.area,-0.136665,0.001942,0.370306,-0.033867,0.234472,-0.050603,0.006187,1.000000,-0.030497,-0.064725,-0.033112,0.062658,0.099040
masterbedroom.length,0.272642,0.088436,0.180087,0.097843,0.236122,0.346406,0.407422,-0.030497,1.000000,0.143000,0.225887,0.158815,0.042012
masterbedroom.width,0.364221,0.082734,0.206324,0.144678,0.287139,0.406436,0.473938,-0.064725,0.143000,1.000000,0.103536,0.219367,0.014108
kitchen.length,0.142907,0.037911,0.248308,-0.012121,0.307283,0.311682,0.376574,-0.033112,0.225887,0.103536,1.000000,0.323506,-0.061353
kitchen.width,0.123579,-0.001571,0.205325,0.073516,0.311860,0.313565,0.376289,0.062658,0.158815,0.219367,0.323506,1.000000,-0.015092
rand,0.040459,-0.061418,0.027110,0.003257,-0.023947,0.031538,0.009879,0.099040,0.042012,0.014108,-0.061353,-0.015092,1.000000

In [33]:
df.type > 0

0      True
1      True
2      True
3      True
4      True
       ...
561    True
562    True
563    True
564    True
565    True
Name: type, Length: 566, dtype: bool

In [12]:
df.dropna(how='any')

,sold.price,zip.code,overview,type,year.built,num.beds,num.baths,living.area,lot.area,masterbedroom.length,masterbedroom.width,kitchen.length,kitchen.width,rand
1,1150000.0,2476,\n Property Overview - Quality builde...,2,1959,4,3.5,2713,6890.00,17.0,11.0,25.0,12.0,0.003026
2,1095000.0,1890,\n Property Overview - This surprisin...,2,1960,4,3.5,2821,0.36,20.0,19.0,25.0,16.0,0.004115
4,842700.0,2492,\n Property Overview - Welcome to thi...,2,1974,3,2.0,1476,0.23,11.0,15.0,11.0,12.0,0.013653
6,840000.0,2130,\n Property Overview - This beautiful...,1,1910,3,2.0,1133,1133.00,14.0,11.0,12.0,12.0,0.015632
7,751000.0,2472,\n Property Overview - Immaculate 3 b...,2,1950,3,2.5,2003,5000.00,15.0,15.0,11.0,13.0,0.022707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560,700000.0,2135,\n Property Overview - Come see this ...,2,1956,3,1.5,1596,5000.00,16.0,12.0,12.0,10.0,0.986737
561,568500.0,2189,\n Property Overview - Dreams can com...,2,1966,5,3.5,3079,0.36,22.0,15.0,23.0,12.0,0.996359
562,660000.0,2130,\n Property Overview - Lots to love i...,1,1920,2,1.0,1053,937.00,16.0,15.0,14.0,11.0,0.996757
563,676000.0,2131,"\n Property Overview - Gorgeous, ligh...",2,1860,3,2.5,1322,5617.00,12.0,13.0,13.0,10.0,0.997386
564,845000.0,2130,\n Property Overview - Beautiful reno...,2,1935,3,2.5,1843,6000.00,18.0,12.0,12.0,11.0,0.997419

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566 entries, 0 to 565
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   sold.price            550 non-null    float64
 1   zip.code              566 non-null    int64
 2   overview              566 non-null    object
 3   type                  566 non-null    int64
 4   year.built            566 non-null    int64
 5   num.beds              566 non-null    int64
 6   num.baths             566 non-null    float64
 7   living.area           566 non-null    int64
 8   lot.area              268 non-null    float64
 9   masterbedroom.length  566 non-null    float64
 10  masterbedroom.width   566 non-null    float64
 11  kitchen.length        566 non-null    float64
 12  kitchen.width         566 non-null    float64
 13  rand                  566 non-null    float64
dtypes: float64(8), int64(5), object(1)
memory usage: 62.0+ KB